<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to the NFL Dashboard</h1>
    <a href="/game_dashboard?week=1&season=2024&team=PHI&stats=completions&stats=passing_tds&stats=receptions&stats=receiving_tds">Game Dashboard</a><br>
    <a href="/season_dashboard?season=2024&stats=completions&stats=passing_tds&stats=receptions&stats=receiving_tds">Season Dashboard</a>
</body>
</html>
